

html,body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  font-family: 'Poppins', sans-serif !important; 
}

body::-webkit-scrollbar,html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


.owner_details {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.owner_details.visible {
  opacity: 1;
  transform: translateY(0);
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.category{
  animation: category_div 200ms ease-out 1 normal forwards;

}

@keyframes category_div {
  0%{
    position: absolute;
    top:0px;
  }
  100%{
    position: absolute;
  }
  
}



